<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css'>
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<div class="container-fluid" ng-controller="EventsController">

    <div class="row">

        <div class="jumbotron">
            <h1 style="text-align:center; font-family: arcadeFont; font-size: xx-large; color:white; margin-top: 20px;"><b>Gator Gaming Tournaments </b></h1>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../img/fortnite_banner.png" alt="fortnite" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                    <!-- <div class="carousel-caption">
                      <p style="font-size: 100px">Fortnite</p>
                    </div> -->
                </div>

                <div class="item">
                    <img src="../img/dnd_banner.png" alt="banne" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                </div>

                <div class="item">
                    <img src="../img/hearthstone_banner.png" alt="banne" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                </div>

                <div class="item">
                    <img src="../img/league_banner.png" alt="call" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                    <!-- <div class="carousel-caption">
                       <p style="font-size: 100px">RPG</p>
                     </div>-->
                </div>

                <div class="item">
                    <img src="../img/rocket_league_banner.png" alt="mario" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                    <!-- <div class="carousel-caption">
                      <p style="font-size: 80px">Super Mario Bros</p>
                    </div> -->
                </div>

                <div class="item">
                    <img src="../img/smash_banner.png" alt="banne" style="width:100%; height:250px;">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                    <!-- <div class="carousel-caption">
                       <p style="font-size: 80px">Arcade</p>
                     </div> -->
                </div>
            </div>

            <script>
                $('.carousel-control').click(function(e){
                    e.preventDefault();
                });
            </script>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>

    <div class="btn-group" style="float:right; margin-right:25px; margin-bottom:10px;">
        <button type="button" class="btn btn-info rounded" onclick="listVisible();">
            List
        </button>
        <button type="button" class="btn btn-info rounded" onclick="calVisible();">
            Calendar
        </button>
        <button type="button" class="btn btn-info rounded" onclick="mapVisible();">
            Map
        </button>
    </div>


    <div class="row">


        <div class="col-md-3" style="margin-bottom:25px;">
            <span>
            <button type="button" class="btn btn-primary" ng-show="currentUser" data-toggle="modal" data-target="#subModal" style = "margin-left:10px;" >View Subscribed Events</button>
               <div id="subModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title">View Subscribed Events...</h2>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group list-group-flush" ng-repeat="registeredEvent in currentUser.registeredEvents">
                                    <li class="list-group-item well" style = "text-align:center">{{registeredEvent}}</li>
                                </ul>
                            </div>
                            <!--<div class="modal-footer">
                                <button type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>-->
                        </div>
                    </div>
                </div>

            <button type="button" class="btn btn-primary" ng-show="currentUser" data-toggle="modal"
                    data-target="#createEvent" style = "margin-left:10px;">Create Event
            </button>
            </span>
            <br>
        </div>

        <div class="col-md-12" id="cal">
            <div class="ui container">
                <div class="ui grid">
                    <div class="ui sixteen column">
                        <div ui-calendar ng-model="eventSources" id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="ui container">
                <div class="ui grid">
                    <div class="ui sixteen column">
                        <div id = "mapTab">
                            <div id="mapT" style="margin-bottom:40px;">  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 collapse in text-center" id="list" style="float:none; margin: 0 auto; margin-top:30px;">
            <!-- top filter code -->
            <div id="myBtnContainer" style="margin-bottom:20px; float: none; display: inline-block;">
                <button class="btn2" ng-model="searchInput" value="" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> All </button>
                <button class="btn2" ng-model="searchInput" value="RPG" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> RPG </button>
                <button class="btn2" ng-model="searchInput" value="Adventure" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Adventure </button>
                <button class="btn2" ng-model="searchInput" value="Sports" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Sports </button>
                <button class="btn2" ng-model="searchInput" value="Racing" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Racing </button>
                <button class="btn2" ng-model="searchInput" value="Fighting" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Fighting </button>
                <button class="btn2" ng-model="searchInput" value="Action" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Action </button>
                <button class="btn2" ng-model="searchInput" value="Simulation" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Simulation </button>
                <button class="btn2" ng-model="searchInput" value="Strategy" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Strategy </button>
                <button class="btn2" ng-model="searchInput" value="Other" ng-click="getFilterVal($event)" style="font-family: arcadeFont; font-size: x-small;"> Other </button>

            </div>
            <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="searchInput"
                       placeholder="Filter by name, location, or tag...">
            </div>
            <div class="tableWrapper">
                <table class="table table-striped table-hover" id="eventsTable">
                    <tr>
                        <th style="text-align:center;">Event Name</th>
                        <th style="text-align:center;">Start Time</th>
                        <th style="text-align:center;">End Time</th>
                        <th style="text-align:center;">Location</th>
                        <th style="text-align:center;">Game</th>
                        <th style="text-align:center;">Fee</th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="event in events | orderBy: 'start'| filter: searchInput as results">

                        <td style = "vertical-align: middle;">{{event.title}}</td>
                        <td style = "vertical-align: middle;">{{event.start | date: "MM/dd/yyyy 'at' h:mma" : 'UTC'}}</td>
                        <td style = "vertical-align: middle;">{{event.end | date: "MM/dd/yyyy 'at' h:mma" : 'UTC'}}</td>
                        <td style = "vertical-align: middle;">{{event.location}}</td>
                        <td style = "vertical-align: middle;">{{event.game}}</td>
                        <td style = "vertical-align: middle;">{{event.fee}}</td>
                        <td>
                            <a type="button" class="btn btn-info" ng-click="showDetails($index)" data-toggle="modal" data-target="#detailsModal">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="results.length == 0">
                        <td><strong> </strong></td>
                    </tr>

                </table>
            </div>
            <br>

        </div>

    </div>


<div id="editEvent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="text-align:center">Edit Event...</h2>
            </div>
            <div class="modal-body">
                <form novalidate class="simple-form,form-group row">
                    <div class = "col-sm-12" style = "padding-left: 25px;">

                        <input type="text" placeholder='Name: {{detailedInfo.title}}' class="form-control" id="editName" ng-model="updatedEvent.title" required> <br>
                        <input type="text" placeholder='Location: {{detailedInfo.location}}' class="form-control" id="editLocation" ng-model="updatedEvent.location" required> <br>
                        <div>
                            <label name="start"> Event Start Time: </label> <br>
                            <select name="year" ng-model="updatedStart.year">
                                <option value="">year</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>
                            <select name="month" ng-model="updatedStart.month">
                                <option value="">month</option>
                                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                            </select>
                            <select name="day" ng-model="updatedStart.day">
                                <option value="">day</option>
                                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                            </select>
                            <select name="hour" ng-model="updatedStart.hour">
                                <option value="">hour</option>
                                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                            </select>
                        </div> <br>

                        <div>
                            <label name="end"> Event End Time: </label> <br>
                            <select name="year" ng-model="updatedEnd.year">
                                <option value="">year</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>
                            <select name="month" ng-model="updatedEnd.month">
                                <option value="">month</option>
                                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                            </select>
                            <select name="day" ng-model="updatedEnd.day">
                                <option value="">day</option>
                                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                            </select>
                            <select name="hour" ng-model="updatedEnd.hour">
                                <option value="">hour</option>
                                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                            </select>
                        </div> <br>

                        <input type="text" placeholder='Game: {{detailedInfo.game}}' class="form-control" id="game" ng-model="updatedEvent.game" required><br>
                        <input type="text" placeholder='Fee: {{detailedInfo.fee}}' class="form-control" id="fee" ng-model="updatedEvent.fee" required ><br>
                        <textarea rows="3" placeholder='Event Description: {{detailedInfo.description}}' class="form-control" id="description"
                                  ng-model="updatedEvent.description"></textarea><br>
                        <div>
                            <label name="tag">Event Tag:</label>
                            <select name="tags" ng-model="updatedEvent.tags">
                                <option value="">--tags--</option>
                                <option value="RPG">RPG</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Sports">Sports</option>
                                <option value="Racing">Racing</option>
                                <option value="Fighting">Fighting</option>
                                <option value="Action">Action</option>
                                <option value="Simulation">Simulation</option>
                                <option value="Strategy">Strategy</option>
                                <option value="Other">Other</option>
                            </select>
                        </div> <br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="updateEvent(currentIndex)" data-dismiss="modal"><span
                        class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Details modal dialog -->
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="text-align:center">  {{detailedInfo.title}}</h2>
            </div>
            <div class="modal-body">
                <h3 style="text-align:center">Game: {{detailedInfo.game}}</h3>
                <h3 style="text-align:center">Date/Time</h3>
                <h4 class="well" style="text-align:center; margin-top: 0px;">{{detailedInfo.start | date: "MM/dd/yyyy 'at' h:mma" : 'UTC'}}  to  {{detailedInfo.end | date: "MM/dd/yyyy 'at' h:mma" : 'UTC'}}</h4>
                <h3 style="text-align:center">Location</h3>
                <p class="well" style="text-align:center">{{detailedInfo.location}}</p>
                <h3 style="text-align:center">Description</h3>
                <p class="well">{{detailedInfo.description}}</p>
                <h3 style="text-align:center">Fee:  ${{detailedInfo.fee}}</h3>
            </div>

            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-success" ng-show="((currentUser)&&(detailedInfo.participantUsernames.indexOf(currentUser.username) === -1))" ng-click="subscribeUser(currentIndex)">
                        <!-- ng-show="detailedInfo.participantUsernames.indexOf(currentUser.username) === -1" ng-click="subscribeUser()"-->
                        Subscribe
                    </button>
                    <button type="button" class="btn btn-secondary" ng-show="((currentUser)&&(detailedInfo.participantUsernames.indexOf(currentUser.username) >= 0))" ng-click="unsubscribeUser()">
                        <!-- ng-if="currentUser.registeredEvents[] contains detailedInfo" ng-click="unsubscribeUser(username, currentIndex)"-->
                        Unsubscribe
                    </button>
                </div>
                <br><br>
                <button type="button" class="btn btn-danger pull-left" ng-click="deleteEvent(currentIndex)"
                        ng-show="((currentUser)&&(currentUser.username === detailedInfo.creatorUsername))||(currentUser.admin)" data-dismiss="modal">
                    Delete Event</button>
                <a type="button" class="btn btn-warning pull-left" ng-click="fillUpdateInput(currentIndex)"
                   ng-show="((currentUser)&&(currentUser.username === detailedInfo.creatorUsername))||(currentUser.admin)" data-toggle="modal" data-target="#editEvent" data-dismiss="modal">
                    Edit Event
                </a>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="createEvent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="text-align:center">Create Event...</h2>
            </div>
            <div class="modal-body">
                <form id="myForm" novalidate class="simple-form,form-group row">
                    <div class = "col-sm-12" style = "padding-left: 25px;">

                        <input type="text" placeholder="Name:" class="form-control" id="name" ng-model="newEvent.title" required > <br>
                        <input id="searchTextField" type="text" placeholder="Location:" class="form-control" size="45"><br>

                        <input type="hidden" id="city2" name="city2" ng-model="newEvent.location"/>
                        <input type="hidden" id=cityLat" name="cityLat" ng-model="newEvent.latitude"/>
                        <input type="hidden" id="cityLng" name="cityLng" ng-model="newEvent.longitude"/>

                        <div>
                            <label name="start">Event Start Time:</label> <br>
                            <select name="year" ng-model="start.year">
                                <option value="">year</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>
                            <select name="month" ng-model="start.month">
                                <option value="">month</option>
                                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                            </select>
                            <select name="day" ng-model="start.day">
                                <option value="">day</option>
                                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                            </select>
                            <select name="hour" ng-model="start.hour">
                                <option value="">hour</option>
                                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                            </select>
                        </div> <br>

                        <div>
                            <label name="end">Event End Time:</label> <br>
                            <select name="year" ng-model="end.year">
                                <option value="">year</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>
                            <select name="month" ng-model="end.month">
                                <option value="">month</option>
                                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                            </select>
                            <select name="day" ng-model="end.day">
                                <option value="">day</option>
                                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                            </select>
                            <select name="hour" ng-model="end.hour">
                                <option value="">hour</option>
                                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                            </select>
                        </div> <br>

                        <input type="text" placeholder="Game:" class="form-control" ng-model="newEvent.game" required > <br>
                        <input type="number" placeholder="Fee:" class="form-control" ng-model="newEvent.fee" required > <br>
                        <textarea rows="3" placeholder="Event Description:" class="form-control"
                                  ng-model="newEvent.description"></textarea> <br>
                        <div>
                            <label name="tag">Event Tag:</label>
                            <select name="tags" ng-model="newEvent.tags">
                                <option value="">--tags--</option>
                                <option value="RPG">RPG</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Sports">Sports</option>
                                <option value="Racing">Racing</option>
                                <option value="Fighting">Fighting</option>
                                <option value="Action">Action</option>
                                <option value="Simulation">Simulation</option>
                                <option value="Strategy">Strategy</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="addEvent(); loadEventList();" onclick="document.getElementById('myForm').reset();" data-dismiss="modal"><span
                        class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU9S7E754G1tNl9E_p-iupT-qFHB0ZIO0&libraries=places&callback=initialize" async defer></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<!--<script src="bower_components/angular/angular.min.js"></script>-->
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/fullcalendar/dist/gcal.js"></script>


<script>



    var locat;
    var lat;
    var lng;


    function initialize() {
        initMap();
        init();
    }

    function init() {
        var inp = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(inp);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            //document.getElementById('city2').value = place.name;
            //document.getElementById('cityLat').value = place.geometry.location.lat();
            //document.getElementById('cityLng').value = place.geometry.location.lng();
            locat = place.name;
            lat = place.geometry.location.lat();
            lng = place.geometry.location.lng();
        });
    }


    //map.js

    //Set up some of our variables.
    //var map,map2; //Will contain map object.
    var map;
    var marker = false; ////Has the user plotted their location marker?

    //Function called to initialize / create the map.
    function initMap() {



        //The center location of our map.
        var centerOfMap = new google.maps.LatLng(29.6436, -82.3549);

        //Map options.

        var options = {
            center: centerOfMap, //Set center.
            zoom: 14 //The zoom value.
        };

        //Create the map object.
        //map = new google.maps.Map(document.getElementById('map'), options);
        map = new google.maps.Map(document.getElementById('mapT'), options);

        /*create markers
        var locations = [
            ['<b>Marston</b>', 29.64800550050426, -82.34393348764826, 1],
            ['<b>Dungeon</b>', 29.648323964973187, -82.34447633568726, 2],
            ['<b>Reitz Union</b>', 29.646221, -82.347788, 3],
            ['<b>Gamestop</b>', 29.627223, -82.38591, 4]
        ]; */
        var infowindow = new google.maps.InfoWindow;

        var marker, i;


        var markerArray;
        var $element = $('div[ng-controller="EventsController"]');
        var scope = angular.element($element).scope();
        markerArray = scope.markers;

        for (i = 0; i < markerArray.length; i++) {

            var position = new google.maps.LatLng(markerArray[i].lat, markerArray[i].lng);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markerArray[i].title
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(markerArray[i].title);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        /*
        //Listen for any clicks on the map2.
        google.maps.event.addListener(map, 'click', function(event) {
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if(marker === false){
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
                google.maps.event.addListener(marker, 'dragend', function(event){
                    markerLocation();
                });
            } else{
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
        */
        //init();
    }

    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation(){
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
    }

    //Load the map when the page has finished loading.
    google.maps.event.addDomListener(window, 'load', initMap);
    google.maps.event.addDomListener(window, 'load', init);

</script>

<!--<script type='text/javascript'>
  document.write("\<script src='...' type='text/javascript'>\<\/script>");
  console.log(foo);
</script>-->

<script>
    function listVisible() {
        if (document.getElementById('cal') || document.getElementById('mapTab')) {
            if (document.getElementById('cal').style.display != 'none' || document.getElementById('mapTab').style.display != 'none') {
                document.getElementById('cal').style.display = 'none';
                document.getElementById('mapTab').style.display = 'none';
                document.getElementById('list').style.display = 'block';
            }
        }
    }
    function calVisible() {
        if (document.getElementById('list') || document.getElementById('mapTab')) {
            if (document.getElementById('list').style.display != 'none' || document.getElementById('mapTab').style.display != 'none') {
                document.getElementById('list').style.display = 'none';
                document.getElementById('mapTab').style.display = 'none';
                document.getElementById('cal').style.display = 'block';
            }
        }
    }
    function mapVisible() {
        if (document.getElementById('list') || document.getElementById('cal')) {
            if (document.getElementById('list').style.display != 'none' || document.getElementById('cal').style.display != 'none') {
                document.getElementById('list').style.display = 'none';
                document.getElementById('cal').style.display = 'none';
                document.getElementById('mapTab').style.display = 'block';
            }
        }
        initialize();
    }
</script>

</body>

<footer style="margin-top:20px;">
    <div class="footer">
        <div class="container-fluid"  id="myfooter">
            <div class="row">
                <div class="col-md-12">
                    <p class="copy"><b>Created by: Samantha Lieberman, Andres Inguanzo, Julian Marrotta, Michael Jarvis, and Jordan Thelmas</b></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>
