<!DOCTYPE html>
<html ng-app="gamerGatorApp" ng-controller="EventsController">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/nav.css">
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="go('/home')">Gamer Gator</a>
        </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-click="go('/home')">Homepage</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!currentUser"><a ng-click="go('/login')">Login</a></li>
                <li ng-if="!currentUser"><a ng-click="go('/register')">Register</a></li>
                <li ng-if="currentUser"><a>Currently logged in as:  <b>{{currentUser.username}}</b></a></li>
                <li ng-if="currentUser"><a ng-click="currentUser = null; logoutUser();">Log out</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="alert alert-success alert-dismissible fade in" style="margin-top: 50px;" ng-if="successMessage" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="sucessMessage=null;">&times;</span></button>
    <strong>{{successMessage}}</strong>
</div>

<div class="alert alert-danger alert-dismissible fade in" style="margin-top: 50px;" ng-show="errorMessage" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" ng-click="errorMessage=null;">&times;</span></button>
    <strong>{{errorMessage}}</strong>
</div>

<div ng-view >
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/eventFactory.js"></script>
<script src="js/controllers/eventController.js"></script>
<script src="js/controllers/userController.js"></script>
      
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>

<script src="bower_components/moment/min/moment.min.js"></script>
<!--<script src="bower_components/angular/angular.min.js"></script>-->
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/fullcalendar/dist/gcal.js"></script>


</body>


</html>
