<!DOCTYPE html>
<html ng-app="gamerGatorApp">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css'>
</head>
<div ng-controller="EventsController">

  <div class="container-fluid" ng-controller="UserController">
    <div class="row">
      <div class="jumbotron">
        <h1 style="text-align:center; font-family: arcadeFont; font-size: x-large;"><b>Gator Gaming Tournaments</b></h1>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../img/fortnite_banner.png" alt="fortnite" style="width:100%; height:250px;">
            <div class="carousel-caption">
              <h3></h3>
            </div>
            <!-- <div class="carousel-caption">
              <p style="font-size: 100px">Fortnite</p>
            </div> -->
          </div>

          <div class="item">
            <img src="../img/league_banner.png" alt="call" style="width:100%; height:250px;">
            <div class="carousel-caption">
              <h3></h3>
            </div>
            <!-- <div class="carousel-caption">
               <p style="font-size: 100px">RPG</p>
             </div>-->
          </div>

          <div class="item">
            <img src="../img/rocket_league_banner.png" alt="mario" style="width:100%; height:250px;">
            <div class="carousel-caption">
              <h3></h3>
            </div>
            <!-- <div class="carousel-caption">
              <p style="font-size: 80px">Super Mario Bros</p>
            </div> -->
          </div>

          <div class="item">
            <img src="../img/smash_banner.png" alt="banne" style="width:100%; height:250px;">
            <div class="carousel-caption">
              <h3></h3>
            </div>
            <!-- <div class="carousel-caption">
               <p style="font-size: 80px">Arcade</p>
             </div> -->
          </div>
        </div>



        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <br>

    <div class="btn-group" style="float:right; margin-right:25px; margin-bottom:10px;">
      <button type="button" class="btn btn-info rounded" onclick="listVisible();">
        List
      </button>
      <button type="button" class="btn btn-info rounded" onclick="calVisible();">
        Calendar
      </button>
    </div>

    <!-- Login button -->
    <button type="button" class="btn btn-info rounded" onclick="window.location.href = 'login.html'">
      Login
    </button>

    <button type="button" class="btn btn-info rounded" onclick="window.location.href = 'register.html'">
      Register
    </button>
    <br> <br>
  <form action = "/logout" method = "GET">
    <button type="submit" class="btn btn-primary" >Log Out</button>
  </form>

   <!-- <h4>Currently logged in as: {{req.user}}</h4> -->

  <!-- top filter code -->
  <div id="myBtnContainer" style="margin-bottom:20px;">
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> RPG </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Adventure </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Sports </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Racing </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Fighting </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Action </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Simulation </button>
    <button class="btn2" onclick="" style="font-family: arcadeFont; font-size: x-small;"> Strategy </button>
  </div>

  <div class="row" ng-controller="UserController">

    <!--Edit Event modal dialog-->
    <div id="editEvent" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title" style="text-align:center">Edit Event...</h2>
          </div>
          <div class="modal-body">
            <form novalidate class="simple-form,form-group row">
              <div class = "col-sm-12" style = "padding-left: 25px;">

                <input type="text" placeholder='Name: {{detailedInfo.name}}' class="form-control" id="editName" > <br>
                <input type="text" placeholder='Location: {{detailedInfo.address}}' class="form-control" id="editAddress" ng-model="updatedEvent.address" required> <br>

                <div>
                  <label name="startTime"> Event Start Time: </label> <br>
                  <select name="year" ng-model="startTime.year">
                    <option value="">year</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                  <select name="month" ng-model="startTime.month">
                    <option value="">month</option>
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                  </select>
                  <select name="day" ng-model="startTime.day">
                    <option value="">day</option>
                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                  </select>
                  <select name="hour" ng-model="startTime.hour">
                    <option value="">hour</option>
                    <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                  </select>
                </div> <br>

                <div>
                  <label name="endTime"> Event End Time: </label> <br>
                  <select name="year" ng-model="endTime.year">
                    <option value="">year</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                  <select name="month" ng-model="endTime.month">
                    <option value="">month</option>
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                  </select>
                  <select name="day" ng-model="endTime.day">
                    <option value="">day</option>
                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                  </select>
                  <select name="hour" ng-model="endTime.hour">
                    <option value="">hour</option>
                    <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
                  </select>
                </div> <br>

                <input type="text" placeholder='Game: {{detailedInfo.game}}' class="form-control" id="game" ng-model="updatedEvent.game" required><br>
                <input type="text" placeholder='Fee: {{detailedInfo.fee}}' class="form-control" id="fee" ng-model="updatedEvent.fee" required ><br>
                <textarea rows="3" placeholder='Event Description: {{detailedInfo.description}}' class="form-control" id="description"
                          ng-model="updatedEvent.description"></textarea><br>
                <input type="text" placeholder='Event Tags: {{detailedInfo.tags}}' class="form-control" id="tags" ng-model="updatedEvent.tags"><br>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="updateEvent(currentIndex)" data-dismiss="modal"><span
                    class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel edit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Details modal dialog -->
    <div id="detailsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title" style="text-align:center">  {{detailedInfo.name}}</h2>
          </div>
          <div class="modal-body">
            <h3 style="text-align:center">Game:  {{detailedInfo.game}}</h3>
            <h3 style="text-align:center">Date</h3>
            <h4 class="well" style="text-align:center; margin-top: 0px;">{{detailedInfo.startTime}}  to  {{detailedInfo.endTime}}</h4>
            <h3 style="text-align:center">Location</h3>
            <p class="well" style="text-align:center">{{detailedInfo.address}}</p>
            <h3 style="text-align:center">Description</h3>
            <p class="well">{{detailedInfo.description}}</p>
            <h3 style="text-align:center">Fee:  ${{detailedInfo.fee}}</h3>
          </div>

          <div class="modal-footer">
            <div class="text-center">
              <button type="button" class="btn btn-success" >
                <!-- ng-if="currentUser.registeredEvents[] does not contain detailedInfo" ng-click="subscribeUser(username, currentIndex)"-->
                Subscribe
              </button>
              <button type="button" class="btn btn-secondary">
                <!-- ng-if="currentUser.registeredEvents[] contains detailedInfo" ng-click="unsubscribeUser(username, currentIndex)"-->
                Unsubscribe
              </button>
            </div>
            <br><br>
            <button type="button" class="btn btn-danger pull-left" ng-click="deleteEvent(currentIndex)" data-dismiss="modal">
              <!-- ng-if="(currentUser == detailedInfo.creatorUsername)||(currentUser.admin)"-->
              Delete Event</button>
            <button type="button" class="btn btn-warning pull-left" data-toggle="modal" data-target="#editEvent" data-dismiss="modal">
              <!-- ng-if="(currentUser == detailedInfo.creatorUsername)||(currentUser.admin)" ng-click="editEvent()" -->
              Edit Event
            </button>
            <button type="button" class="btn btn-info pull-left" >
              <!-- ng-if="(currentUser == detailedInfo.creatorUsername)||(currentUser.admin)" ng-click="sendMessageModal()" -->
              Message event members
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <br><br><br>
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse"
              data-target="#createEvent" style = "margin-left:10px;">Create Event
      </button>
      <div style="text-align: center;" class="collapse" id="createEvent">
        <br>
        <h3>Create a new event...</h3>

        <form novalidate class="simple-form,form-group row">
          <div class = "col-sm-12" style = "padding-left: 25px;">
            <input type="text" placeholder="Name:" class="form-control" id="name" ng-model="newEvent.name" required > <br>
            <input type="text" placeholder="Location:" class="form-control" id="address" ng-model="newEvent.address"
                   required> <br>

            <div>
              <label name="startTime"> Event Start Time: </label> <br>
              <select name="year" ng-model="startTime.year">
                <option value="">year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
              </select>
              <select name="month" ng-model="startTime.month">
                <option value="">month</option>
                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
              </select>
              <select name="day" ng-model="startTime.day">
                <option value="">day</option>
                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
              </select>
              <select name="hour" ng-model="startTime.hour">
                <option value="">hour</option>
                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
              </select>
            </div> <br>

            <div>
              <label name="endTime"> Event End Time: </label> <br>
              <select name="year" ng-model="endTime.year">
                <option value="">year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
              </select>
              <select name="month" ng-model="endTime.month">
                <option value="">month</option>
                <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
              </select>
              <select name="day" ng-model="endTime.day">
                <option value="">day</option>
                <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
              </select>
              <select name="hour" ng-model="endTime.hour">
                <option value="">hour</option>
                <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
              </select>
            </div> <br>

            <input type="text" placeholder="Game:" class="form-control" ng-model="newEvent.game" required > <br>
            <input type="number" placeholder="Fee:" class="form-control" ng-model="newEvent.fee" required > <br>
            <textarea rows="3" placeholder="Event Description:" class="form-control"
                      ng-model="newEvent.description"></textarea> <br>
            <input type="text" placeholder="Event Tags:" class="form-control" ng-model="newEvent.tags"> <br>

            <button type="submit" class="btn btn-success" ng-click="addEvent()"><span
                    class="glyphicon glyphicon-ok"></span></button>
            <br><br>
          </div>
        </form>

      </div>

      <br><br>
      <button type="button" class="btn btn-primary btn-lg btn-block" style = "margin-left:10px;">View Subscribed Events</button>
      <br>
    </div>

    <div class="col-md-9" id="cal">
      <div class="ui container">
        <div class="ui grid">
          <div class="ui sixteen column">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 collapse in" id="list">
      <br>
      <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" ng-model="searchInput"
               placeholder="Filter by name, location, or tag...">
      </div>
      <div class="tableWrapper">
        <table class="table table-striped table-hover" id="eventsTable">
          <tr>
            <th>Event Name</th>
            <th>Start Time</th>
            <th>Location</th>
            <th>Game</th>
            <th>Fee</th>
            <th></th>
          </tr>

          <tr ng-repeat="event in events | filter: searchInput as results">

            <td>{{event.name}}</td>
            <td>{{event.startTime | date:'MMM d, y @ h:mma'}}</td>
            <td>{{event.address}}</td>
            <td>{{event.game}}</td>
            <td>{{event.fee}}</td>
            <td>
              <button type="button" class="btn btn-info" ng-click="showDetails($index)" data-toggle="modal" data-target="#detailsModal">
                <span class="glyphicon glyphicon-option-horizontal"></span>
              </button>
            </td>
          </tr>
          <tr ng-if="results.length == 0">
            <td><strong> </strong></td>
          </tr>

        </table>
      </div>
      <br>

    </div>

  </div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/eventFactory.js"></script>
<script src="js/factories/userFactory.js"></script>
<script src="js/controllers/eventController.js"></script>
<script src="js/controllers/userController.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
<script>
    function listVisible() {
        if (document.getElementById('cal')) {
            if (document.getElementById('cal').style.display != 'none') {
                document.getElementById('cal').style.display = 'none';
                document.getElementById('list').style.display = 'block';
            }
        }
    }
    function calVisible() {
        if (document.getElementById('list')) {
            if (document.getElementById('list').style.display != 'none') {
                document.getElementById('list').style.display = 'none';
                document.getElementById('cal').style.display = 'block';
            }
        }
    }
</script>
<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                //right: 'month,basicWeek,basicDay'
                right: 'month,basicDay'
            },
            defaultDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'Tournament',
                    start: '2018-11-25'
                },
                {
                    title: 'Tournament',
                    start: '2018-11-25',
                    end: '2018-11-28'
                },
                {
                    id: 999,
                    title: 'Tuesday Tournament',
                    start: '2018-10-09T16:00:00'
                },
                {
                    id: 999, // id: 999 means it repeats on same day
                    title: 'Tuesday Tournament',
                    start: '2018-10-16T16:00:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-11-11',
                    end: '2018-11-13'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-12T10:30:00',
                    end: '2018-10-12T12:30:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-12T12:00:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-12T14:30:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-12T17:30:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-12T20:00:00'
                },
                {
                    title: 'Tournament',
                    start: '2018-10-13T07:00:00'
                },
                {
                    title: 'Tournament hyperlink',
                    url: 'https://google.com/',
                    start: '2018-10-28'
                }
            ]
        });

    });

</script>
</body>

</html>
