<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/login.css">
  <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css'>-->
</head>

<body ng-controller="UserController">

<!--
<div class="alert alert-success alert-dismissible fade in" style="margin-top: 50px;" ng-show="successMessage" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> {{successMessage}}
</div>

<div class="alert alert-danger alert-dismissible fade in" style="margin-top: 50px;" ng-show="errorMessage" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Error!</strong> {{errorMessage}}
</div>
-->

<div class="login-page">
  <h1 style="text-align:center; color: white;">Login</h1>
  <div class="form">
    <form class="login-form" id="form1">
      <input type="text" ng-model="user.username" placeholder="username"/>
      <input type="password" ng-model="user.password" placeholder="password"/>
      <button ng-click="login(user)">login</button><br><br>
      <!--<button type="submit">back</button>-->
      <a class="btn btn-info" ng-click="go('/home')" role="button">BACK</a>
    </form>
  </div>
</div>


</body>

</html>
