#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.jumbotron {
  background-image: url("../img/banner1.png");
  background-size: cover;
  color:white;
}
.text-block {
  color: black; /* text color */ 
  background-color: rgb(204, 204, 204);
  background-color: rgba(204, 204, 204, 0.8);
}

/*Allows text of register button to change*/
.btn-text b{display:inline}
.btn-text:not(.collapsed)  span{display:none}
.btn-text.collapsed b {display:none}


#list{
  display:none; 
}
