#myfooter{
    height: 3em;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 1em;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.jumbotron {
  background-size: cover;
  background-color: white;
  margin-bottom: 0px;
  background-color:black;
  border-radius: 0 !important;
}
.text-block {
  color: black; /* text color */
  background-color: #2196f3;
  background-color: rgba(204, 204, 204, 0.8);
}

/*Allows text of register button to change*/
.btn-text b{display:inline}
.btn-text:not(.collapsed)  span{display:none}
.btn-text.collapsed b {display:none}

#list{
  display:none;
}
#mapTab{
    display:none;
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
#mapT {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}
/* Style the buttons */
.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn2:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn2.active {
  background-color: #666;
  color: white;
}
#myBtnContainer{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/*.btn {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Georgia;
	font-size:21px;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.btn:active {
	position:relative;
	top:1px;
}*/


@font-face {
  font-family: arcadeFont;
  src: url("../fonts/arcadefont.TTF");
}
